.travel-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&--item {
		@extend %third-card;
	}

	&--heading {
		@extend %open-sans;
		text-align: center;
		color: $dark-gray;
		font-weight: 400;
		font-size: 24px;
		margin-bottom: 15px;
	}

	&--copy {
		@extend %open-sans;
		color: $dark-gray;
		font-size: 16px;
		line-height: 24px;
		margin-bottom:22px;
		text-align: center;
	}
}